.achievements {
    width: 30%;
    margin-right: 2%;
    height: 555px;
}

.savings {
    flex-grow: 1;
    height: 555px;
}

.line-chart-container {
    display: flex;
    justify-content: center;
}