body {
    background-color: #c5f9d7;
}

i {
    margin-right: 8px;
    background-size: 1rem 1rem;
}

.alert-bar {
    width: 100%;
    height: auto;
    background-color: #8f33ff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
}