.expenses-container {
    width: 100%;
    min-height: 100vh;
    padding-left: 10px;
    overflow-y: auto;
}

.header-container {
    width: 96%;
    margin-left: 2%;
    height: 14%;
}

.summary-container {
    width: 96%;
    margin-left: 2%;
    margin-top: 1vh;
    background-color: white;
    border-radius: 8px;
    display: flex;  
    padding: 25px;
    padding-left: 40px;
}

.balance-container {
    width: 28%;
    margin-right: 2%;
}

.balance-container h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-rendering: optimizeLegibility;
}

.income-spending-container {
    display: flex;
}

.income-container small, .spending-container small {
    margin: 0;
    font-size: 14px;
    margin-right: 3.5vw;
    text-rendering: optimizeLegibility;
}

.progress-container {
    flex-grow: 1;
}

.viz-container {
    width: 96%;
    margin-left: 2%;
    margin-top: 1vw;
    min-height: 50%;
    border-radius: 8px;
    display: flex;
}

.viz-card {
    height: 100%;
    background-color: white;
    border-radius: 8px;
}

.chart-container {
    margin: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart {
    width: 42%;
    margin-right: 2%;
}

.expenses {
    width: 30%;
    margin-right: 2%;
}

.list-group {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group li {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 10px;
}

.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    margin-top: 5px;
    transition: visibility 0.25s, opacity 0.25s, margin-top .25s;
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
}

.dropdown:hover .dropdown-toggle::after,
.dropdown:hover .dropdown-menu::after {
    transform: rotate(180deg);
}

.dropdown-toggle::after,
.dropdown-menu::after {
    transition: 0.7s;
}

.categories {
    width: 25%;
}