.header-container {
    width: 96%;
    margin-left: 2%;
    height: 14%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-left: 20px;
}

.summary-container {
    width: 96%;
    margin-left: 2%;
    margin-top: 1vh;
    background-color: white;
    border-radius: 8px;
    display: flex;  
    padding: 25px;
    padding-left: 40px;
}

.balance-container {
    width: 28%;
    margin-right: 2%;
}

.balance-container h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-rendering: optimizeLegibility;
}

.income-spending-container {
    display: flex;
}

.income-container small, .spending-container small {
    margin: 0;
    font-size: 14px;
    margin-right: 3.5vw;
    text-rendering: optimizeLegibility;
}

.progress-container {
    flex-grow: 1;
}

.viz-container {
    width: 96%;
    margin-left: 2%;
    margin-top: 1vw;
    min-height: 50%;
    border-radius: 8px;
    display: flex;
}

.viz-card {
    height: 100%;
    background-color: white;
    border-radius: 8px;
}

.chart-container {
    margin: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart {
    width: 42%;
    margin-right: 2%;
}

.navbar-expand-lg  .container-fluid {
    min-height: 40px;
}

.expenses {
    width: 28%;
    margin-right: 2%;
    height: 470px;
}

.expense-category-indicator {
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
    aspect-ratio: 1/1;
    background-color: blueviolet;
}

.expenses-list-group-container {
    height: 400px;
    overflow-y: auto;
}

.expenses-list-group-container::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

.expenses-list-group-container::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    width: 10px;
    border-radius: 5px;
}

.list-group {
    border-radius: 0;
}

.list-group li {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 10px;
    margin-right: 10px;
}

.Sent {
    background-color: #ffeeee;
    color: #ea443b;
}

.Received {
    background-color: #dcfaee;
    color: #32b37d;
}

.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    margin-top: 5px;
    transition: visibility 0.25s, opacity 0.25s, margin-top .25s;
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
}

.dropdown:hover .dropdown-toggle::after,
.dropdown:hover .dropdown-menu::after {
    transform: rotate(180deg);
}

.dropdown-toggle::after,
.dropdown-menu::after {
    transition: 0.7s;
}

.subscriptions {
    width: 27%;
    height: 470px;
}

.footer {
    height: 9%;
    opacity: 0;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bd-violet-bg);
    --bs-tooltip-color: var(--bd-violet-bg);
}

.add-goal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.add-goal-btn i {
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.custom-dropdown-menu {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.custom-save-button {
    background-color: #8f33ff;
    border: none;
}

.custom-save-button:hover {
    background-color: #761AE6;
}

.piechart-legend-label {
    transition: margin-right .25s;
}

.legend-label-transform {
    margin-right: 5px;
}