#home {
    width: 70%;
    margin: auto;
}

#home-content-container {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5%;
}

#home-text-container {
    width: 60%;
}

.home-card {
    margin-bottom: 20px;
    transition: opacity .5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateX(-25px);
    opacity: 0;
}

.home-card-title {
    margin: 0;
    font-weight: 500;
}

.fade-in {
    opacity: 1;
    transform: translateX(0);
}

#signup-container {
    width: 35%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 100px;
    z-index: 1;
    box-sizing: content-box;
    
}

#signup-container h3 {
    margin-top: 25px;
}

#signup-container h3, #signup-container p {
    margin-left: 5%;
}

#signup-form {
    margin-top: 15px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.form-floating {
    width: 100%;
}

input[type=submit] {
    width: 100%;
    padding: 8px 20px;
    border-radius: 4px;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    border: none;
    background-color: #8f33ff;
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: 10px;
}

#about {
    display: flex;
}

.about-card {
    margin-top: 15px;
    margin-right: 5%;
    width: 33%;
    border-top: 2px solid gray;
    cursor: pointer;
}

.about-card img {
    width: 25%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-bottom: 10px;
}

.bi-chevron-right {
    margin-left: 5px;
    transition: margin-left .4s;
    font-size: 18px;
}

.hover-bar {
    background-color: #8f33ff;
    width: 0;
    height: 5px;
    margin-top: -4px;
    margin-bottom: 30px;
    transition: width .4s;
}

.about-card:hover .hover-bar{
    width: 100%;
}

.about-card:hover .fs-5.text-body-emphasis i.bi-chevron-right {
    margin-left: 10px;
}

.home-header-container {
    width: 50%;
}