#home {
    width: 70%;
    margin: auto;
}

#home-content-container {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

#home-text-container {
    width: 60%;
}

.home-card {
    margin-bottom: 20px;
}

.home-card-title {
    margin: 0;
    font-weight: 500;
}

#signup-container {
    width: 35%;
    height: 600px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 100px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup-container h2 {
    margin-top: 15px;
}

#signup-form {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    border-radius: 4px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }