#home {
    width: 70%;
    margin: auto;
}

#home-content-container {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

#home-text-container {
    width: 60%;
}

.home-card {
    margin-bottom: 20px;
}

.home-card-title {
    margin: 0;
    font-weight: 500;
}

.home-card-content {

}

#login-form {
    width: 35%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}